* {
  box-sizing: border-box; 
}

@font-face {
  font-family: mont;
  src: url("./fonts/Mont.ttf");
}

html, body {
  margin: 0;
  padding: 0;
 
}

.navbox {
 
  width:100%;
  background-color: orange;
   position: fixed;
   top: 0;
 
 
}

.navmenu {
  display: inline-block;
  padding: 0px 30px;
  color:white;
  font-size: large;
}

header {
  font-family: mont;
  background-color:green;
  padding-top: 20px;
  height: 275px;
  font-size: 70px;
  text-align: center;
  color: white;
  margin-bottom:  0;
  margin-top: 0;
 
  .tagline {
    font-size: 30px;
    margin-top: -40px;
  }

body {
  padding-top: 75px;
}
}